.env*
.gitattributes
.DS_Store
/.vscode
/.nova
/database/data
/vendor
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
.idea/
