/vendor
/node_modules
/public/dist
/public/storage
/storage/framework/views/*
/storage/framework/sessions/*
Homestead.yaml
Homestead.json
.env
.env.production
.editorconfig
.gitattributes
.postcssrc.js
.DS_Store
.vscode
/.nova
