.background-color-1 {
  background: #9f46b8 !important; }

.lighter-background-color-1 {
  background: #b26bc7 !important; }

.darker-background-color-1 {
  background: #7f3894 !important; }

.text-color-1 {
  color: #9f46b8 !important; }

.border-color-1 {
  border-color: #9f46b8 !important; }

.border-left-color-1 {
  border-left: 8px solid #9f46b8 !important; }

.background-color-2 {
  background: #b84699 !important; }

.lighter-background-color-2 {
  background: #c76bad !important; }

.darker-background-color-2 {
  background: #94387a !important; }

.text-color-2 {
  color: #b84699 !important; }

.border-color-2 {
  border-color: #b84699 !important; }

.border-left-color-2 {
  border-left: 8px solid #b84699 !important; }

.background-color-3 {
  background: #b84660 !important; }

.lighter-background-color-3 {
  background: #c76b80 !important; }

.darker-background-color-3 {
  background: #94384d !important; }

.text-color-3 {
  color: #b84660 !important; }

.border-color-3 {
  border-color: #b84660 !important; }

.border-left-color-3 {
  border-left: 8px solid #b84660 !important; }

.background-color-4 {
  background: #b86646 !important; }

.lighter-background-color-4 {
  background: #c7856b !important; }

.darker-background-color-4 {
  background: #945238 !important; }

.text-color-4 {
  color: #b86646 !important; }

.border-color-4 {
  border-color: #b86646 !important; }

.border-left-color-4 {
  border-left: 8px solid #b86646 !important; }

.background-color-5 {
  background: #b89f46 !important; }

.lighter-background-color-5 {
  background: #c7b26b !important; }

.darker-background-color-5 {
  background: #947f38 !important; }

.text-color-5 {
  color: #b89f46 !important; }

.border-color-5 {
  border-color: #b89f46 !important; }

.border-left-color-5 {
  border-left: 8px solid #b89f46 !important; }

.background-color-6 {
  background: #99b846 !important; }

.lighter-background-color-6 {
  background: #adc76b !important; }

.darker-background-color-6 {
  background: #7a9438 !important; }

.text-color-6 {
  color: #99b846 !important; }

.border-color-6 {
  border-color: #99b846 !important; }

.border-left-color-6 {
  border-left: 8px solid #99b846 !important; }

.background-color-7 {
  background: #60b846 !important; }

.lighter-background-color-7 {
  background: #80c76b !important; }

.darker-background-color-7 {
  background: #4d9438 !important; }

.text-color-7 {
  color: #60b846 !important; }

.border-color-7 {
  border-color: #60b846 !important; }

.border-left-color-7 {
  border-left: 8px solid #60b846 !important; }

.background-color-8 {
  background: #46b866 !important; }

.lighter-background-color-8 {
  background: #6bc785 !important; }

.darker-background-color-8 {
  background: #389452 !important; }

.text-color-8 {
  color: #46b866 !important; }

.border-color-8 {
  border-color: #46b866 !important; }

.border-left-color-8 {
  border-left: 8px solid #46b866 !important; }

.background-color-9 {
  background: #46b89f !important; }

.lighter-background-color-9 {
  background: #6bc7b2 !important; }

.darker-background-color-9 {
  background: #38947f !important; }

.text-color-9 {
  color: #46b89f !important; }

.border-color-9 {
  border-color: #46b89f !important; }

.border-left-color-9 {
  border-left: 8px solid #46b89f !important; }

.background-color-10 {
  background: #4699b8 !important; }

.lighter-background-color-10 {
  background: #6badc7 !important; }

.darker-background-color-10 {
  background: #387a94 !important; }

.text-color-10 {
  color: #4699b8 !important; }

.border-color-10 {
  border-color: #4699b8 !important; }

.border-left-color-10 {
  border-left: 8px solid #4699b8 !important; }

.background-color-11 {
  background: #4660b8 !important; }

.lighter-background-color-11 {
  background: #6b80c7 !important; }

.darker-background-color-11 {
  background: #384d94 !important; }

.text-color-11 {
  color: #4660b8 !important; }

.border-color-11 {
  border-color: #4660b8 !important; }

.border-left-color-11 {
  border-left: 8px solid #4660b8 !important; }

.background-color-12 {
  background: #6646b8 !important; }

.lighter-background-color-12 {
  background: #856bc7 !important; }

.darker-background-color-12 {
  background: #523894 !important; }

.text-color-12 {
  color: #6646b8 !important; }

.border-color-12 {
  border-color: #6646b8 !important; }

.border-left-color-12 {
  border-left: 8px solid #6646b8 !important; }
