.d-flex {
  display: flex !important; }

.ss-fs-2 {
  font-size: 2px; }

.ss-fs-4 {
  font-size: 4px; }

.ss-fs-6 {
  font-size: 6px; }

.ss-fs-8 {
  font-size: 8px; }

.ss-fs-10 {
  font-size: 10px; }

.ss-fs-12 {
  font-size: 12px; }

.ss-fs-14 {
  font-size: 14px; }

.ss-fs-16 {
  font-size: 16px; }

.ss-fs-18 {
  font-size: 18px; }

.ss-fs-20 {
  font-size: 20px; }

.ss-fs-22 {
  font-size: 22px; }

.ss-fs-24 {
  font-size: 24px; }

.ss-fs-26 {
  font-size: 26px; }

.ss-fs-28 {
  font-size: 28px; }

.ss-fs-30 {
  font-size: 30px; }

.ss-fs-32 {
  font-size: 32px; }

.ss-fs-34 {
  font-size: 34px; }

.ss-fs-36 {
  font-size: 36px; }

.ss-fs-38 {
  font-size: 38px; }

.ss-fs-40 {
  font-size: 40px; }

.ss-fs-42 {
  font-size: 42px; }

.ss-fs-44 {
  font-size: 44px; }

.ss-fs-46 {
  font-size: 46px; }

.ss-fs-48 {
  font-size: 48px; }

.ss-fs-50 {
  font-size: 50px; }

.ss-fs-52 {
  font-size: 52px; }

.ss-fs-54 {
  font-size: 54px; }

.ss-fs-56 {
  font-size: 56px; }

.ss-fs-58 {
  font-size: 58px; }

.ss-fs-60 {
  font-size: 60px; }

.ss-fs-62 {
  font-size: 62px; }

.ss-fs-64 {
  font-size: 64px; }

.ss-fs-66 {
  font-size: 66px; }

.ss-fs-68 {
  font-size: 68px; }

.ss-fs-70 {
  font-size: 70px; }

.ss-fs-72 {
  font-size: 72px; }

.ss-fs-74 {
  font-size: 74px; }

.ss-fs-76 {
  font-size: 76px; }

.ss-fs-78 {
  font-size: 78px; }

.ss-fs-80 {
  font-size: 80px; }

.ss-fs-82 {
  font-size: 82px; }

.ss-fs-84 {
  font-size: 84px; }

.ss-fs-86 {
  font-size: 86px; }

.ss-fs-88 {
  font-size: 88px; }

.ss-fs-90 {
  font-size: 90px; }

.ss-fs-92 {
  font-size: 92px; }

.ss-fs-94 {
  font-size: 94px; }

.ss-fs-96 {
  font-size: 96px; }

.ss-fs-98 {
  font-size: 98px; }

.ss-fs-100 {
  font-size: 100px; }

.ss-fs-102 {
  font-size: 102px; }

.ss-fs-104 {
  font-size: 104px; }

.ss-fs-106 {
  font-size: 106px; }

.ss-fs-108 {
  font-size: 108px; }

.ss-fs-110 {
  font-size: 110px; }

.ss-fs-112 {
  font-size: 112px; }

.ss-fs-114 {
  font-size: 114px; }

.ss-fs-116 {
  font-size: 116px; }

.ss-fs-118 {
  font-size: 118px; }

.ss-fs-120 {
  font-size: 120px; }
