
.label {
  border-radius: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  padding: 5px 11px;
  border-radius: 3px;

  &.small {
    font-size: 0.8em;
  }

  &.x-small {
    font-size: 0.6em;
  }

  &.radius {
    border-radius: 3px;
  }

  &.caption {
    &.music {
      background: $cs-caption-music;
    }
    &.show {
      background: $cs-caption-show;
    }
  }

  &.status {
    //float: right;
    color: $cs-white;
    padding: 5px 8px;

    &.completed {
      background-color: $cs-status-completed;
    }

    &.active {
      background-color: $cs-status-active;
    }

    &.inactive {
      background-color: $cs-status-inactive;
    }
  }
}
